@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../templates/**/*.html";
@source "../../apps/**/*.py";
@source "../../static/js/**/*.js";

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}